@media (max-width: 999px) {
	.div-3 {
		display: none;
	}
	nav {
		display: none;
	}
	.text {
		margin-left: auto;
		margin-right: auto;
	}
	.container {
		width: auto;
		margin-left: 0;
	}
	.fa-shopping-cart {
		display: none;
	}
	.div-4 {
		justify-content: center;
		margin-left: 0;
	}
	.div-5 {
		margin-right: auto;
		margin-left: auto;
		margin-top: 35px;
	}
	.text-2 {
		font-size: 50px;
	}
	.fa-bars {
		display: block;
	}
}
@media (max-width: 700px){
	.div-5 {
		width: 195px;
		height: 54px;
	}
	.text-3 {
		font-size: 15px;
	}
	.text-2 {
		font-size: 41px;
	}
}
@media (max-width: 460px) {
	.text-2 {
		font-size: 35px;
	}
	.text {
		font-size: 35px;
	}
}
@media (max-width: 370px) {
	.text-2 {
		font-size: 25px;
	}
}
@media (max-width: 1048px) {
	.div-8 {
		margin-left: auto;
		margin-right: auto;
		margin-top: 71px;
	}
}
@media (max-width: 560px) {
	.text-4 {
		font-size: 50px;
	}
}
@media (max-width: 450px) {
	.text-4 {
		font-size: 35px;
	}
}
@media (max-width: 600px) {
	.div-8 {
		width: 219px;
		height: 320px;
		border-radius: 0;
	}
	.div-7 {
		flex-direction: column;
	}
	.img-2 {
		height: 172px;
	}
	.img-1 {
		width: 219.14px; 
		height: 172px;
	}
	.text-5 {
		font-size: 25px;
	}
	.text-6 {
		width: 180px;
		font-size: 10px;
		margin-top: 10px;
	}
	.div-9 {
		width: 95px;
		height: 27px;
		margin-top: 17px;
	}
	.text-7 {
		font-size: 9px;
	}
	.div-9:hover {
		width: 107px;
		height: 30px;
	}
	.div-10 {
		width: 95px;
		height: 27px; 
		margin-top: 10px;
	}
	.div-10:hover {
		width: 107px;
		height: 30px;
	}
	.div-7 {
		margin-top: 0px;
	}
	.text-11 {
		font-size: 25px;
	}
	.text-13 {
		font-size: 15px;
		margin-left: 15px;
	}
	.div-23 {
		width: 173px;
		height: 35px;
	}
	.text-14 {
		font-size: 14px;
	}
	.div-22 {
		width: 240px
	}
}
@media (max-width: 350px) {
	.text-4 {
		font-size: 30px;
	}
}
@media (max-width: 1125px) {
	.text-8 {
		width: 700px;
		text-align: center;
	}
	.text-9 {
		margin-top: 365px;
	} 
}
@media (max-width: 890px) {
	.text-9 {
		font-size: 20px;
	}
}
@media (max-width: 670px) {
	.text-8 {
		width: 400px;
		font-size: 43px;
	}
	.text-9 {
		font-size: 13px;
		width: 350px;
		text-align: center;
		margin-top: 385px;
	}
	.div-14 {
		width: 229.5px;
		height: 54px;
	}
	.text-10 {
		font-size: 15px;
	}
}
@media (max-width: 440px) {
	.text-8 {
		font-size: 30px;
		width: 300px;
	}
	.text-9 {
		width: 300px;
		margin-top: 370px;
	}
}
@media (max-width: 1093px) {
	.div-19,
	.div-18 {
		margin-left: auto;
		margin-right: auto;
		margin-top: 21px;
		text-align: center;
	}
	.div-16 {
		flex-direction: column;
	}
}