@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
.header-bg {
	background-image: url(../img/mountines.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.text {
	color: white;
	font-size: 41px;
	font-family: 'Poppins', sans-serif;
}
.container {
	display: flex;
	align-items: center;
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1088px;
	width: 100%;
	justify-content: space-between;
}
.nav-ul {
	display: flex;
	width: 438px;
	justify-content: space-between;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}
/*ნავიგაციის სულელური ანიმაცია*/
.text-1-1,
.text-1-2,
.text-1-3,
.text-1-4
 {
	color: white;
}
.text-1-2::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: white;
	transition: width .4s;
}
.text-1-2:hover::after {
	width: 100%;
	transition: width .4s;
}
.text-1-3::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: white;
	transition: width .4s;
}
.text-1-3:hover::after {
	width: 100%;
	transition: width .4s;
}
.text-1-4::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: white;
	transition: width .4s;
}
.text-1-4:hover::after {
	width: 100%;
	transition: width .4s;
}
.text-1-1::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: white;
}
.text-1:hover {
	color: #D8D8D8;
}
/*აქამდე*/
.div-2 {
	width: 148px;
	height: 35px;
	border-radius: 50px;
	border: solid;
	border-width: 2px;
	border-color: white;
	background-color: transparent;
}
.fa-search {
	font-size: 22px;
	color: white;
}
.fa-shopping-cart {
	color: white;
	font-size: 25px;
}
.div-3 {
	max-width: 206px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.div-4 {
	margin-top: 243px;
	display: flex;
}
.text-2 {
	font-size: 64px;
	color: white;
	font-family: 'Poppins', sans-serif;
}
.div-5 {
	width: 271px;
	height: 75px;
	border-radius: 50px;
	background-color: #00A6FB;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 68px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.text-3 {
	font-size: 24px;
	color: white;
	font-family: 'Poppins', sans-serif;
}
.div-5:hover {
	background-color: #003554;
	width: 292px;
	height: 81px;
}
.fa-bars {
	display: none;
	font-size: 30px;
	color: white;
	margin-right: 5%;
}
.text-4 {
	font-size: 64px;
	color: black;
	font-family: 'Oswald', sans-serif;
}
.div-6 {
	margin-top: 53px;
	display: flex;
	justify-content: center;
}
.div-7 {
	max-width: 1088px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-right: auto;
	margin-left:auto;
	margin-top: 63px;
	flex-wrap: wrap;
}
.div-8 {
	max-width: 516px;
	width: 100%;
	box-shadow: 5px 10px 18px #888888;
	border-radius: 50px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear; 
}
.div-8:hover {
	box-shadow: 0px 0px 0px #0000;

}
.text-5 {
	font-size: 43px;
	color: black;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	margin-top: 28px;
}
.img-1 {
	width: 516px;
	height: 405px;
	background-color: #003554;
	position: absolute;
	z-index: 2;
	opacity: 35%;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.img-1:hover {
	opacity: 0%;
}
.text-6 {
	width: 370px;
	font-size: 22px;
	color: #A1A1A1;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Poppins', sans-serif;
	margin-top: 28px;
}
.div-9 {
	width: 288px;
	height: 80px;
	background-color: #0582CA;
	border-radius: 50px;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 51px;
	margin-top: 37px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.div-9:hover {
	background-color: #003554;
	width: 329px;
	height: 91px;
}
.div-10 {
	width: 288px;
	height: 80px;
	background-color: #0582CA;
	border-radius: 50px;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 51px;
	margin-top: 20px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.div-10:hover {
	background-color: #003554;
	width: 329px;
	height: 91px;
}
.img-2 {
	position: relative;
}
.text-7 {
	font-size: 22px;
	color: white; 
	font-family: 'Poppins', sans-serif;
}
.secondsection-1 {
	background-image: url(../img/old-man-3617304.jpg);
	width: 100%;
	height: 648px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 191px;
	position: relative;
	display: flex;
	justify-content: center;
}
.div-11 {
	position: absolute;
	width: 100%;
	height: 648px;
	z-index: 2;
	background-color: #003554;
	opacity: 35%;
}
.text-8 {
	font-size: 52px;
	color: white;
	position: absolute;
	z-index: 5;
}
.div-12 {
	position: absolute;
	z-index: 5;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 236px;
	font-family: 'Poppins', sans-serif;
}
.text-9 {
	font-size: 29px;
	color: #D9D9D9;
	font-family: 'Poppins', sans-serif;
	margin-top: 324px;	
	position: absolute;
	z-index: 5;
}
.div-13 {
	display: flex;
	justify-content: center;
}
.div-14 {
	position: absolute;
	z-index: 5;
	width: 340px;
	height: 80px;
	opacity: 50%;
	border-radius: 50px;
	background-color: #006494;
	margin-top: 429px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.text-10 {
	color: white;
	font-size: 20px;
	z-index: 5;
	position: absolute;
	font-family: 'Poppins', sans-serif;
}
.div-14:hover {
	opacity: 1
}
.footer-1 {
	background-image: url(../img/qwqwqwqwqwqwqw.png);
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 209px;
	padding-bottom: 110px;
}
.div-16 {
	max-width: 1113px;
	width: 100%;
	padding-top: 104.7px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}
.text-11 {
	font-size: 34px;
	color: white;
	margin-bottom: 20px;
	font-family: 'Poppins', sans-serif;
}
.text-12 {
	font-size: 20px;
	color: white;
	margin-top: 7px;
	font-family: 'Roboto', sans-serif;
}
.div-17 {
	position: absolute;
	z-index: 4;
}
.div-17 {
	margin-left: 100px;
}
.div-18,
.div-19 {
	margin-left: 48px;
}
.div-20 {
	display: flex;
	justify-content: space-between;
	max-width: 250px;
	align-items: center;
}
.text-13 {
	width: 250px;
	font-size: 20px;
	color: white;
	margin-top: 7px;
	font-family: 'Roboto', sans-serif;
	margin-left: 21px;
}
.fa-map-marker-alt {
	font-size: 25px;
	color: white;
}
.fa-envelope {
	font-size: 25px;
	color: white;
}
.div-21 {
	display: flex;
	justify-content: space-between;
	max-width: 250px;
	align-items: center;
	margin-top: 19px;
}
.div-22 {
	width: 316px;
	display: flex;
	justify-content: space-between;
	margin-top: 19px;
}
.div-23 {
	width: 255px;
	height: 52px;
	border-radius: 50px;
	opacity: 50%;
	background-color: #006494;
	display: flex;
	align-items: center;
	border: none;
}
/*about.html*/
.header-2 {
	width: 100%;
	height: 140px;
	box-shadow: 5px 5px 10px #DFDADA;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 7
}
.text-15 {
	color: black;
	font-size: 41px;
	font-family: 'Poppins', sans-serif;
}
.div-25 {
	display: flex;
	align-items: center;
	padding-top: 42px;
	justify-content: center;
}
.nav-ul-1 {
	display: flex;
	width: 438px;
	justify-content: space-between;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
	color: black;
	margin-left: 83.7px;
}
.text-2-1,
.text-2-2,
.text-2-3,
.text-2-4
 {
	color: black;
}
.text-2-2::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: black;
}
.text-2-2:hover::after {
	width: 100%;
	transition: width .4s;
}
.text-2-3::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: black;
	transition: width .4s;
}
.text-2-3:hover::after {
	width: 100%;
	transition: width .4s;
}
.text-2-4::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: black;
	transition: width .4s;
}
.text-2-4:hover::after {
	width: 100%;
	transition: width .4s;
}
.text-2-1::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: black;
	transition: width .4s;
}
.text-2-1:hover::after {
	width: 100%;
	transition: width .4s;
}
.div-2-2 {
	width: 148px;
	height: 35px;
	border-radius: 50px;
	border: solid;
	border-width: 2px;
	border-color: black;
	margin-left: 50px;
}
.img-5 {
	display: none;
	height: 25px;
}
/*section*/
.text-16 {
	font-size: 45px;
	color: black;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-top: 41px;
}
.div-26 {
	max-width: 1088px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
}
.text-17 {
	max-width: 536px;
	width: 100%;
	text-align: left;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;	
	line-height: 35px;
}
.div-27 {
	max-width: 1088px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 83px;
}
.text-18 {
	max-width: 536px;
	width: 100%;
	text-align: right;
	font-size: 30px;
	font-family: 'Poppins', sans-serif;	
	line-height: 46px;
}
/*section*/
.section-2-2 {
	background-image: url(../img/Web1366.jpg);
	width: 100%;
	height: 421px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 111px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text-19 {
	font-size: 81px;
	color: white;
	font-family: 'Poppins', sans-serif;
}
.div-28 {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 54px;
}
.text-20 {
	position: absolute;
	color: white;
	font-family: 'RocknRoll One', sans-serif;
	font-size: 90px;
	margin-top: 102px;
}
.text-21 {
	font-size: 41px;
	text-align: center;
	width: 790px;
	line-height: 61px;	
	color: #E4E4E4;
	position: absolute;
	margin-top: 449px;
	font-family: 'Poppins', sans-serif;
	opacity: 60%;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.text-21:hover {
	opacity: 1;
	color: white;
}
.div-29 {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 107px;
}
.text-22 {
	font-size: 60px;
	font-family: 'Poppins', sans-serif;
	position: absolute;
	margin-top: 59px;
	color: white;
}
.text-23 {
	font-size: 30px;
	width: 904px;
	line-height: 46px;	
	font-family: 'Poppins', sans-serif;
	margin-top: 193px;
	position: absolute;
	color: white;
	text-align: center;
}
.img-40 {
	display: none;
	margin-left: 25px;
}
.div-30 {
	max-width: 1088px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 97px;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
}
.div-31 {
	position: relative;
	width: 536px;
	height: 637px;
	display: flex;
}
.text-24 {
	font-size: 61px;
	font-family: 'RocknRoll One', sans-serif;
	position: absolute;
	color: white;
	margin-left: 91px;
	margin-top: 274px;
}
.text-25 {
	width: 527px;
	font-size: 25px;
	line-height: 38px;	
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
.div-32 {
	background-image: url(../img/qqwqqwqqwqwqwqqwqw.png);
	width: 100%;
	height: 651px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 102px;
}
.text-26 {
	font-size: 30px;
	color: white;
	font-family: 'Poppins', sans-serif;
	width: 1088px;
	line-height: 46px;
	text-align: center;
	margin-top: 202px;
}
.text-27 {
	font-size: 14px;
	color: white;
}
.button {
	width: 195.58px;
	height: 55.45px;
	border-radius: 50px;
	background-color: #0582CA;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 49px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.button:hover {
	width: 212.58px;
	height: 60.45px;
	background-color: #003554;
}
.text-99 {
	font-size: 20px;
	color: white;
	font-family: 'Poppins', sans-serif;
	width: 600px;
	line-height: 30px;
	text-align: center;
	margin-top: 202px;
	display: none;
}
/*tours.html*/
.text-3-2::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: black;
	transition: width .4s;
}
.text-3-2:hover::after {
	width: 100%;
	transition: width .4s;
}
.text-3-3::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: black;
}
.text-3-3:hover::after {
	width: 100%;
	transition: width .4s;
}
.text-3-4::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: black;
	transition: width .4s;
}
.text-3-4:hover::after {
	width: 100%;
	transition: width .4s;
}
.text-3-1::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: black;
	transition: width .4s;
}
.text-3-1:hover::after {
	width: 100%;
	transition: width .4s;
}
.text-3-1,
.text-3-2,
.text-3-3,
.text-3-4
 {
	color: black;
}
.section-2 {
	background-image: url(../img/uiuiuuui.png);
	width: 100%;
	height: 622px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.text-28 {
	font-size: 81px;
	font-family: 'Poppins', sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: 207px;
	color: white;
}
.text-29 {
	font-size: 20px;
	color: white;
	font-family: 'Poppins', sans-serif;
}
.button-2 {
	width: 269px;
	height: 82px;
	background-color: #0582CA;
	border-radius:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	margin-top: 29px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.button-2:hover {
	background-color: #003554;
	width: 286px;
	height: 87px;
}
.text-30{
	font-size: 60px;
	color: black;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-top: 60px;
	text-align: center;
}
.div-33 {
	max-width: 1088px;
	display: flex;
	justify-content: space-between;
	margin-top: 54px;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
}
.text-31 {
	font-size: 20px;
	line-height: 30px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	width: 536px;
}
.text-32 {
	font-size: 21px;
	color: white;
	font-family: 'Poppins', sans-serif;
}
.button-3 {
	width: 260px;
	height: 75px;
	background-color: #0582CA;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	margin-top: 26px;
	margin-right: auto;
	margin-left: auto;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.button-3:hover {
	background-color: #003554;
	width: 285px;
	height: 82px;
}
.section-33 {
	background-image: url(../img/ljihwoabconcaq.png);
	width: 100%;
	height: 535px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 149px;
}
.text-33 {
	font-size: 40px;
	width: 854px;
	line-height: 60px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: white;
	padding-top: 133px;
	margin-right: auto;
	margin-left: auto;
}
/*contact.html*/
.text-4-1,
.text-4-2,
.text-4-3,
.text-4-4
 {
	color: black;
}
.text-4-2::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: black;
	transition: width .4s;
}
.text-4-2:hover::after {
	width: 100%;
	transition: width .4s;
}
.text-4-3::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: black;
	transition: width .4s;
}
.text-4-3:hover::after {
	width: 100%;
	transition: width .4s;
}
.text-4-4::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: black;
}
.text-4-1::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: black;
	transition: width .4s;
}
.text-4-1:hover::after {
	width: 100%;
	transition: width .4s;
}
/*part of section*/
.last-section {
	background-image: url(../img/tbilisi.png);
	width: 100%;
	height: 622px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 146px;
}
.div-23::placeholder  {
	font-size: 15px;
	color: white;
	padding-left: 50px;
}
.div-2::placeholder {
	font-size: 14px; 
	color: white; 
	padding-left: 45px; 
	opacity: 58%;
}
.div-2-2::placeholder {
	font-size: 14px;
	color: black; 
	padding-left: 45px; 
	opacity: 58%
}
.div-34 {
	max-width: 1088px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 18px;
	margin-left: auto;
	margin-right: auto;
}
.div-35 {
	width: 536px;

	height: 588px;
	background-color: white;
	border-radius: 12px;
}
.div-36 {
	max-width: 437px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;
}
.div-37 {
	width: 200px;
	height: 61px;
	border-radius: 17px;
	border: solid;
	border-width: 2px;
	border-color: #ABABAB;
}
.div-37::placeholder {
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	padding-left: 20px;
}
.div-38 {
	width: 438px;
	height: 61px;
	border: solid;
	border-width: 2px;
	border-color: #ABABAB;
	border-radius: 17px;
}
.div-38::placeholder {
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	padding-left: 20px;
}
.div-39 {
	display: flex;
	justify-content: center;
	margin-top: 35px;
}
.textarea-wraper {
	resize: none;
	max-width: 438px;
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: space-between;
	background-color: #ffff;
	border: 2px solid #ABABAB;
	border-radius: 17px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
}
.textarea-wraper::placeholder {
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	padding-left: 20px;
}
.text-34 {
	font-size: 14px;
	color: white;
	font-family: 'Poppins', sans-serif;
}
.button-wraper {
	width: 216px;
	height: 53px;
	border-radius: 8px;
	background-color: #0582CA;
	margin-top: 30px;
	border: none;
	margin-left: 50px;
}
.div-40 {
	height: 2px; 
	background-color: white; 
	width: 100%;
	margin-top: 62.5px; 
}
.div-41 {
	margin-right: auto;
	margin-left: auto;
}

.social-icons {
	display: inline-block;
	height: 60px;
	width: 60px;
	float: left;
	margin: 0 5px;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	transition: all 0.3s ease-out;
	overflow: hidden;
}
.social-icons .icon {
	display: inline-block;
	height: 60px;
	width: 60px;
	border-radius: 50px;
	box-sizing: border-box;
	line-height: 60px;
	text-align: center;
}
.social-icons .icon i {
	font-size: 25px;
	line-height: 60px;
}
.social-icons span{
	font-size: 20px;
	font-weight: 500;
	line-height: 60px;
	margin-left: 10px;
}
.social-icons:hover {
	width: 200px;
}
span {
	font-family: 'Poppins', sans-serif;
}
.social-icons:nth-child(1):hover .icon {
	background:  #4267b2;
}
.social-icons:nth-child(2):hover .icon {
	background: #1da1f2;
}
.social-icons:nth-child(3):hover .icon {
	background: #e1306c;
}
.social-icons:nth-child(4):hover .icon {
	background: #bd081c;
}
.social-icons:nth-child(5):hover .icon {
	background: red;
}
.social-icons:nth-child(1):hover span {
	color:  #4267b2;
}
.social-icons:nth-child(2):hover span {
	color: #1da1f2;
}
.social-icons:nth-child(3):hover span {
	color: #e1306c;
}
.social-icons:nth-child(4):hover span {
	color: #bd081c;
}
.social-icons:nth-child(5):hover span {
	color: red;
}
.div-container {
	margin-right: auto;
	margin-left: auto;
	max-width: 1088px;
	width: 100%
}