.header-bg {
	background-image: url(../img/mountines.jpg);
	width: 100%;
	height: 660px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.text {
	color: white;
	font-size: 41px;
	font-family: 'Poppins', sans-serif;
}
.container {
	display: flex;
	align-items: center;
	padding-top: 40px;
	margin-left: 139px;
	max-width: 1088px;
	width: 100%;
	justify-content: space-between;
}
.nav-ul {
	display: flex;
	width: 438px;
	justify-content: space-between;
	font-size: 24px;
	color: black;
	font-family: 'Poppins', sans-serif;
}
.text-1 {
	color: white;
}
.text-1::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: white;
	transition: width .4s;
}
.text-1:hover::after {
	width: 100%;
	transition: width .4s;
}
.text-1:hover {
	color: #D8D8D8;
}
.div-2 {
	width: 148px;
	height: 35px;
	border-radius: 50px;
	border: solid;
	border-width: 2px;
	border-color: white;
}
.fa-search {
	font-size: 22px;
	color: white;
}
.fa-shopping-cart {
	color: white;
	font-size: 25px;
}
.div-3 {
	max-width: 206px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.div-4 {
	margin-left: 136px;
	margin-top: 243px;
	display: flex;
}
.text-2 {
	font-size: 64px;
	color: white;
	font-family: 'Poppins', sans-serif;
}
.div-5 {
	width: 271px;
	height: 75px;
	border-radius: 50px;
	background-color: #00A6FB;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 136px;
	margin-top: 17px;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.text-3 {
	font-size: 24px;
	color: white;
	font-family: 'Poppins', sans-serif;
}
.div-5:hover {
	background-color: red;
}
.fa-bars {
	display: none;
	font-size: 30px;
	color: white;
	margin-right: 5%;
}